@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Playfair+Display:ital,wght@1,600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #141010;
    color: #f6f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.hero-section {
    text-align: center;
    padding: 150px 40px 50px;
    width: 100%;
    color: white;
    position: relative;
    background: 
        linear-gradient(to bottom, rgba(20, 16, 16, 0) 60%, #141010 100%), 
        url("../assets/Planet.png") no-repeat right bottom;
    background-size: contain;
}

.hero-section .title {
    font-size: 4rem; 
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
}

.hero-section .italic {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.hero-section .subtitle {
    font-size: 1.5rem;
    color: #bbb;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
    .hero-section {
        padding: 140px 20px 30px;
    }

    .hero-section .title {
        font-size: 3.2rem;
    }

    .hero-section .subtitle {
        font-size: 1.3rem;
    }
}

@media (max-width: 480px) {
    .hero-section .title {
        font-size: 2.5rem;
    }

    .hero-section .subtitle {
        font-size: 1.1rem;
    }
}
